.airpodd {
  background-color: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__left {
    width: 560px;
    height: 320px;
    background-image: url(/rasmlar/airpods.png);
    background-size: cover;
    border-radius: 10px;
  }

  &__right {
    padding: 101px 160px 131px 115px;
    background: #f1f1f1;
    border-radius: 8px;
  }

  &__title {
    padding-bottom: 30px;
    width: 245px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #000000;
  }

  &__btn {
    padding: 15px 30px;

    border: 1px solid grey;
    text-transform: uppercase;

    &:hover {
      background: #000000;
      border: 1px solid #000000;
      transition: all 1s ease;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 768px) {
  .airpodd {
    display: none;
    &__wrapper {
      gap: 81px;
    }

    &__right {
      padding: 51px 80px 66px 58px;
      width: 0px;
    }
    &__left {
      position: relative;
      width: 300px;
      height: 220px;
    }
    // &__title {
    //   width: 230px;
    // }
  }
}

@media only screen and (max-width: 425px) {
  .airpodd {
    display: none;

    &__wrapper {
      flex-direction: column;
    }
  }
}
