.bring {
  background-color: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 125px;
    margin: 100px 0;
  }
  &__title {
    font-family: sans-serif;
    width: 445px;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000000;
  }
  &__coral {
    color: #d87d4a;
  }

  &__text {
    padding-top: 35px;
    width: 450px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  &__img {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .bring {
    &__wrapper {
     gap: 100px;
     position: relative;
     right: 100px;
    }

    &__text {
      width: 45ppx;
    }
    &__title {
      width: 445px;
    }

    &__img {
      width: 400px;
      height: 400px;
    }
    &__left {
      width: 400px;
      text-align: start;
    }
  }
}

@media only screen and (max-width: 768px) {
  .bring {
    &__wrapper {
      position: relative;
      top: 10px;
      bottom: 150px;
      flex-direction: column;
      flex-direction: column-reverse;

      margin: 0;
    }

    &__img {
      margin-left: 200px;
      width: 600px;
      height: 400px;
    }
    &__left {
      margin-left: 150px;
      width: 503px;
      text-align: center;
    }

    &__text {
      width: 573px;
    }
    &__title {
      width: 550px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .bring {
    &__wrapper {
      gap: 40px;
      align-items: center;
      margin-left: 50px;
    }

    &__img {
      margin-right: 40px;
      padding-top: 10px;
      padding-right: 20px;
      width: 340px;
      height: 300px;
      border-radius: 10px;
    }
    &__left {
      width: 330px;
      text-align: center;
    }

    &__text {
      width: 330px;
    }
    &__title {
      width: 330px;
    }
  }
}
