.row {
  display: flex;
  gap: 125px;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 540px;
    background: #f1f1f1;
    border-radius: 8px;
  }

  &__right {
    width: 340px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__title {
    padding: 16px 0 32px 0;
    max-width: 445px;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000000;
  }
  &__text {
    max-width: 450px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-bottom: 40px;
  }
  &__product {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d87d4a;
  }
  &__number {
    padding-bottom: 47px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
  }
  &__box {
    display: flex;
    gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    gap: 70px;

    &__left {
      width: 280px;
      height: 480px;
    }
    &__img {
      width: 180px;
    }
    &__right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 340px;
      text-align: start;
    }
    &__title {
      font-size: 28px;
      line-height: 32px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .row {
    flex-direction: column;

    &__left {
      width: 330px;
      height: 330px;
    }
    &__right
    {
      align-items: center;
      text-align: center;
    }

    &__title {
      width: 330px;
    }
    &__text {
      width: 330px;
    }
  }
}
